* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  background-color: rgba(0, 0, 255, 0.1);
}
main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#title {
  font-size: 3rem;
  margin: 2rem;
}
fieldset {
  border: 1px solid black;
  padding: 1rem;
  max-width: 30rem;
  width: 100%;
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 255, 255, 0.1);
}
section#displaySection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  height: 5rem;
}
section#buttonSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
input#display {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
}
button {
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}
button:hover {
  background-color: #ddd;
  cursor: pointer;
}
